body {
    height: 5000px;
    background-color: lighten(lightgray, 12.5%);
    .navbar {
      position: fixed;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
      border-radius: 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .2),
        0 1px 1px rgba(0, 0, 0, .14),
        0 2px 1px -1px rgba(0, 0, 0, .12);
      z-index: 999;
      .menu-toggle {
        line-height: 0;
        .menu-toggle-icon {
          font-size: 1.5rem;
          line-height: 1.5rem;
          padding: 1rem;
          border-right: 1px solid lightgray;
        }
      }
      .navbar-brand {
        text-align: center;
        width: 8.5rem;
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 1rem;
        border-right: 1px solid lightgray;
        font-weight: 400;
        span {
          font-weight: 800;
        }
      }
    }
    .container-fluid {
      height: 100vh;
      .fixed-nav {
        height: 100vh;
        .fixed-nav-inner {
          display: inline-flex;
          flex-direction: column;
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          background-color: lighten(lightgray, 15%);
          border-right: 1px solid lightgray;
          flex: 1;
          z-index: 99;
          ul {
            list-style-type: none;
            padding: 0;
            a {
              display: flex;
              align-items: center;
              &:before {
                content: "";
                opacity: 0;
                width: 0.175rem;
                visibility: hidden;
                position: absolute;
                background: #0275d8;
                top: 0;
                left: 0;
                bottom: 0;
                right: auto;
              }
              &:hover {
                background-color: lighten(lightgray, 12.5%);
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1),
                  inset 0 1px 1px rgba(0, 0, 0, .04),
                  inset 0 2px 1px -1px rgba(0, 0, 0, .02);
                &:before {
                  opacity: 1;
                  visibility: visible;
                }
              }
              li {
                padding: 0.25rem 1rem;
                i {
                  font-size: 1.5rem;
                  line-height: 3rem;
                }
                &:nth-child(2n) {
                  font-size: 1rem;
                  padding: 0;
                  margin-left: 0;
                  letter-spacing: 0.05rem;
                  width: 0px;
                  text-align: left;
                  opacity: 0;
                  transition: 0.25s ease-in-out width, 0.25s linear transform;
                  transform: translateX(2rem);
                }
              }
            }
          }
          &.open-nav {
            li {
              &:nth-child(2n) {
                margin: 0;
                padding: 0.25rem 1rem;
                letter-spacing: 0.025rem;
                width: 8.5rem;
                opacity: 1;
                transform: translateX(0.75rem);
              }
            }
          }
        }
      }
    }
  }
  